<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel2JSON</title>
    <style>
        body {
            text-align: center;
            padding-top: 200px;
        }
        .tittle {
            color: #57bc78;
            text-align: center;
        }
        .box {
            margin: 0 auto;
            text-align: left;
            display: inline-block;
        }

        .box a {
            /* text-decoration: none; */
            line-height: 2;
        }
    </style>
</head>
<body>
    <h2 class="tittle">Excel 小工具合集</h2>
    <div class="box">
        <a class="btn-download" href="/upload" target="_blank">1· 上传 Excel 解析成 JSON 数据</a><br />
        <a class="btn-download" href="/upload-country" target="_blank">2· 国家中文名第一个汉字拼音首字母大写<small> (前端做 A-Z 索引分组用)</small></a>
    </div>
</body>
</html>

<script>
</script>